ul {
    list-style: none;
    margin-top: 70px;
    padding: 0px;
}

section {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);


}

@media (max-width:200px) {
    section {
        width: 20%;
        overflow: hidden;
        overflow-y: scroll;
    }
}